@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h3>Degree Title: @Model.Title</h3>
<h3>Degree Result: @Model.Result</h3>
<h3>Degree Year: @Model.Year</h3> *@
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Result</th>
            <th>Year</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Result</td>
                <td>@item.Year</td>
            </tr>
        }
    </tbody>
</table>