
@{
    ViewBag.Title = "Index";
}

<h1>@Request["Username"]</h1>

<p class="text-danger">@Html.ValidationSummary()</p>


@if (TempData["Msg"] != null) { 
    <p class="alert alert-info">@TempData["Msg"]</p>
}

<h2>Index</h2>
<form action="" method="post">
    <input type="text" name="Username" value="@Model.Username" class="form-control" placeholder="Username" />
    <span class="text-danger">@Html.ValidationMessage("Username")</span>
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <span class="text-danger">@Html.ValidationMessage("Password")</span>
    <input type="submit" class="btn btn-primary" value="Login" />
</form>

